// Typography
html {
  font-size: 16px;
  font-family: $body;
  color: $navy;
  font-weight: 300;
  background-color: $offWhite;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.75rem;
  font-family: $headings;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-family: $headings;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-family: $body;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

article {
  line-height: 1.25rem;
  padding: 2rem;
}

// Desktop Styles

@media screen and (min-width: $laptop) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.085rem;
  }
}