/* ======== Buttons ======== */

button, input[type="submit"], a.action {
  background-color: $darkTeal;
  color: $offWhite;
  font-family: $body;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 500ms ease-in-out, color 500ms linear;
  &:hover {
    background-color: $lightTeal;
    color: $navy;
  }
  a {
    color: $offWhite;
    &:hover {
      color: $navy;
    }
  }
}

/* ======== Forms ======== */

// Mobile

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  input[type="text"], input[type="email"], textarea {
    border: 1px solid $navy;
    background-color: $offWhite;
    color: $navy;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 0.25rem;
  }
  input[type="text"], input[type="email"] {
    height: 2rem;
  }
  textarea {
    min-height: 20vh;
  }
  label {
    font-weight: 400;
  }
  div#status-message {
    margin-top: 1rem;
    font-size: 0.85rem;
  }
}

// Desktop

@media screen and (min-width: $laptop) {
  form {
    justify-content: center;
    margin: 0 30%;
  }
}

/* ======== Icons ======= */

// Global
.fab, .fas, .far {
  color: $offWhite;
  &:hover {
    color: $lightTeal;
  }
}

// Portfolio Mobile
@media screen and (max-width: $laptop) {
  #portfolio-web {
    article {
      &:nth-child(odd) {
        .fab, .fas, .far {
          color: $navy;
          &:hover {
            color: $darkTeal;
          }
        }
      }
    }
  }
}

// Resume
.skill {
  span {
    padding-left: 0.75rem;
    &:hover {
      color: $navy;
    }
  }
  &:hover {
    span {
      color: $navy;
    }
  }
}