/* ======== Global Formatting ======== */

// Mobile
body {
  padding: 0;
}

section {
  padding: 2rem 0;
}

// Desktop
@media screen and (min-width: $laptop) {

  main {
    margin: 1.5rem 2rem;
  }

  section {
    padding: 2rem 0;
  }
}

/* ======== Site Navigation ======== */ 

// Mobile
// TODO: Add hamburger menu with script and animation
header {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  nav {
    ul {
      display: none;
    }
  }
}

// Desktop

@media screen and (min-width: $laptop) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    nav {
      font-size: 1.125rem;
      ul {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        gap: 1.5rem;
        text-transform: uppercase;
        li {
            font-family: $headings;
          a {
            text-decoration: none;
            color: $darkTeal;
          }
        }
      }
    }
  }
}

/* ======== About Section ======== */

#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $laptop) {
  #about {
  flex-direction: row;
  }
}

.bio-photo {
  //width: 40%;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 999px;
    margin: 0 auto;
  }
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: $laptop) {
  #about .blurb {
    width: 50%;
    h2 {
      align-self: flex-start;
    }
  }
}

/* ======== Tabbed Navigation ======== */

.nav-tabs .nav-link {
  font-family: $body;
  font-size: 1.25rem !important;
  color: $navy;
  background-color: transparent !important;
  text-transform: none;
  &:hover {
    color: $darkTeal;
    background-color: transparent;
  }
}

.nav-link.active, nav-link.active > span {
  color: $darkTeal !important;
  border-color: $darkTeal !important;
  background-color: transparent;
}

.nav-item {
  font-family: $body;
  color: $darkTeal;
}

#ex1-content{
  width: 100% !important;}

.tab-content {
  width: 100% !important;
}

.tab-pane {
  width: 100% !important;
  font-family: $body;
}

/* ======== Portfolio Section ======== */

// Mobile

#portfolio {
  width: 100%;
}

#portfolio-web {
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (5, 1fr);
    article {
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-weight: 400;
        margin: 1.5rem 0;
      }
      ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
      }
      ul.technologies {
        font-weight: 400;
        margin: 1rem 0;
        padding-inline: 0;
        justify-self: flex-end;
      }
      ul.icons {
        margin: 1rem 0;
        padding-inline: 0;
        span {
          font-size: 1.5rem;
        }
      }
      &:nth-child(odd) {
        background-color: $darkTeal;
        color: $offWhite;
        animation: easeIn 2s;
        color: $offWhite;     
        a {
          color: $offWhite;
              &:hover {
                color:$lightTeal;
              }
          }
        ul.icons {
          color: $offWhite;
          li:hover {
            color: $lightTeal;
          }
        }
      }
      &:nth-child(even) {
        background-color: $yellowOrange;
        color: $navy;
        a {
          color: $navy;
            &:hover {
              color:$darkTeal;
            }
        }
        ul.icons {
          color: $navy;
          li:hover {
            color: $darkTeal;
          }
        }
      }
    }
  }
}

#portfolio-email {
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    article {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      img {
        height: auto;
        width: 100%;
      }
      div {
        background-color: $navy;
        color: $offWhite;
        padding: 1rem;
        width: 100%;
        position: relative;
        bottom: 0px;
        p {
          font-weight: 400;
          margin: 1.5rem 0;
        }
        ul {
          list-style-type: none;
          display: flex;
          gap: 1rem;
        }
        ul.technologies {
          font-weight: 400;
          margin: 1rem 0;
          padding-inline: 0;
          justify-self: flex-end;
        }
        ul.icons {
          margin: 1rem 0;
          padding-inline: 0;
          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $tablet) {
  #portfolio-email {
    section {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 5rem;
    }
  }
}

// Laptop

@media screen and (min-width: $laptop) {
  #portfolio-web {
    section {
      grid-template-columns: 1fr;
      grid-row-gap: 5rem;
      article {
        width: 50%;
        div {
          background-color: $navy;
          color: $offWhite;
          padding: 1rem;
          width: 100%;
          min-height: 75%;
          position: relative;
        }
        &:nth-child(even) {
          background-color: $darkTeal;
          justify-self: flex-end;
          div {
            right: 85%;
          }      
          a {
            color: $offWhite;
                &:hover {
                  color:$lightTeal;
                }
          }
        }
        &:nth-child(odd) {
          background-color: $lightTeal;
          color: $offWhite;
          justify-self: flex-start;
          div {
            left: 85%;
          }
          a {
            color: $offWhite;
                &:hover {
                  color:$lightTeal;
                }
          }
        }
      }
    }
  }

  #portfolio-email {
    section {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 5rem;
      article {
        div {
          background-color: $navy;
          color: $offWhite;
          padding: 1rem;
          width: 100%;
          min-height: 75%;
          position: relative;
        }
      }
    }
  }
}

// Desktop

@media screen and (min-width: $desktop) {
  #portfolio-web {
    section {
      article {
        div {
          width: 70%;
          min-height: 80%;
        }
        &:nth-child(even) {
          div {
            right: 45%;
          }
        }
        &:nth-child(odd) {
          div {
            left: 85%;
          }
        }
      }
    }
  }

  #portfolio-email {
    section {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 5rem;
      article {
        div {
          width: 70%;
          min-height: 80%;
        }
      }
    }
  }
}

/* ======== Background images for porfolio items ======== */

// Mobile 
#ecommstore {
  background: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/ecommStore-Desktop.png');
  background-size: cover;
  background-position: center;
}

#stepup {
  background-image: linear-gradient($yellowOrangeOverlay, $yellowOrangeOverlay), url('../images/StepUp-Desktop.png');
  background-size: cover;
  background-position: center;
}

#spacestagram {
  background: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/SpacestagramMobile.jpg');
  background-size: cover;
  background-position: center;
}

#songcrush {
  background-image: linear-gradient($yellowOrangeOverlay, $yellowOrangeOverlay), url('../images/SongCrushMobile.jpg');
  background-size: cover;
  background-position: center;
}

#prssa {
  background-image: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/PRSSA-Mobile.jpg');
  background-size: cover;
  background-position: top;
}
/*
#email-1 {
  background-image: url('../images/Oct2023NLMobile.jpg');
  background-size: cover;
  background-position: top;
}
*/

// Desktop

@media screen and (min-width: $laptop) {
  #ecommstore {
    background-image: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/ecommStore-Desktop.png');
    background-position: center;
    transition: background-image 7s ease-in;
    &:hover {
      background-image: linear-gradient($darkTealLightOverlay, $darkTealLightOverlay), url('../images/ecommStore-Desktop.png');
      background-position: center;
    }
  }

  #stepup {
    background-image: linear-gradient($lightTealOverlay, $lightTealOverlay), url('../images/StepUp-Desktop.png');
    background-size: cover;
    transition: background-image 2s ease-in;
    &:hover {
      background-image: linear-gradient($lightTealLightOverlay, $lightTealLightOverlay), url('../images/StepUp-Desktop.png');
      background-size: cover;
    }
  }

  #spacestagram {
    background-image: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/SpacestagramDesktopDM.png');
    background-position: center;
    transition: background-image 7s ease-in;
    &:hover {
      background-image: linear-gradient($darkTealLightOverlay, $darkTealLightOverlay), url('../images/SpacestagramDesktopDM.png');
      background-position: center;
    }
  }

  #songcrush {
    background-image: linear-gradient($lightTealOverlay, $lightTealOverlay), url('../images/SongCrushDesktop.png');
    background-size: cover;
    transition: background-image 2s ease-in;
    &:hover {
      background-image: linear-gradient($lightTealLightOverlay, $lightTealLightOverlay), url('../images/SongCrushDesktop.png');
      background-size: cover;
    }
  }

  #prssa {
    background-image: linear-gradient($darkTealOverlay, $darkTealOverlay), url('../images/PRSSA-Desktop.png');
    background-size: cover;
    transition: background-image 7s ease-in;
    &:hover {
      background-image: linear-gradient($darkTealLightOverlay, $darkTealLightOverlay), url('../images/PRSSA-Desktop.png');
      background-size: cover;
    }
  }
}


/* ======== Contact Section ======== */

// Mobile

#contact {
  padding: 2rem;
}

/* ======== Resume Page ======== */ 

body.resume {
  header {
    display: block;
    text-align: center;
    background-color: $darkTeal;
    color: $offWhite;
    margin: 0;
    a {
      color: $offWhite;
      &:visited {
        color: $offWhite;
      }
    }
  }
  section {
    margin: 5vh 5vw;
    padding: 0;
    article {
      padding: 0;
    }
  }
  h2, h3 {
    text-align: left;
    font-family: $body;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h1 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-transform: none;
    margin-bottom: 1.25rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  i {
    font-size: 1.5rem;
    margin: 2%;
    &:hover {
      color: $lightTeal;
    }
  }
  hr {
    width: 5vw;
    margin: 0 0 2vh 0;
    border: solid 1px $darkTeal;
  }
  address {
    display: grid;
    grid-template-columns: repeat(5, 48px);
    grid-template-rows: 48px;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
  }
  footer {
    a {
      color: $offWhite;
      text-decoration: none;
      &:hover {
        color: $lightTeal;
      }
      &:active {
        color: $yellowOrange;
      }
    }
    span {
      padding-right: 1rem;
    }
  }
}

#contact-detail {
  color: $yellowOrange;
  font-weight: 400;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  li {
    background-color: $darkTeal;
    color: $offWhite;
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    cursor: default;
    &:hover {
      background-color: $lightTeal;
      color: $navy;
      transition-duration: 150ms;
    }
    span {
      font-size: 1rem;
    }
  }
}

#experience {
  p {
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1rem;
  }
  ul {
    list-style: disc;
    padding-left: 2rem;
    li {
      padding-bottom: 0.5rem;
      a {
        color: $darkTeal;
        font-weight: 400;
        &:hover {
          color: $lightTeal;
        }
        &:active {
          color: $yellowOrange;
        }
      }
    }
  }
}

.school {
  font-style: italic;
  font-weight: 400;
}

@media screen and (min-width: $laptop) {

  #education {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header header header header"
    "divider divider divider divider"
    "item item item item";
    h2 {
      grid-area: header;
    }
    hr {
      grid-area: divider;
    }
  }
}

/* ======== Footer ======== */ 

// Mobile

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $navy;
  color: $offWhite;
  padding: 1.5rem;
  ul {
    list-style-type: none;
    display: inline-flex;
    gap: 2rem;
    span {
      font-size: 1.25rem;
    }
  }
  p {
    font-size: 0.75rem;
  }
}