/* ========= Variables ========== */

// Breakpoints
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Colors Hex
$navy: #0B232E;
$darkTeal: #0B7C74;
$lightTeal: #23CABE;
$yellowOrange: #F0CA68;
$offWhite: #FBFCF5;

// Colors RGBA (Overlay)
$navyOverlay: rgba(8, 35, 46, 0.8);
$darkTealOverlay: rgba(11, 124, 116, 0.9);
$lightTealOverlay: rgba(35, 202, 190, 0.8);
$yellowOrangeOverlay: rgba(240, 202, 104, 0.9);
$offWhiteOverlay: rgba(251, 252, 245, 0.8);

// Fonts
$headings: 'Arvo', serif;
$body: 'Lato', Helvetica, sans-serif;