/* ========= Variables ========== */
:root {
  font-family: "Lato", Helvetica, sans-serif;
}

::-moz-selection {
  color: #0B232E;
  background: #F0CA68;
}

::selection {
  color: #0B232E;
  background: #F0CA68;
}

html, body {
  font-size: 16px;
  font-family: "Lato", Helvetica, sans-serif;
  color: #0B232E;
  font-weight: 300;
  background-color: #FBFCF5;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.75rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

h3, h3 > a {
  font-size: 1.25rem;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.1rem;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

article {
  line-height: 1.25rem;
  padding: 2rem;
}

a {
  color: #0B7C74;
  text-decoration: underline;
}
a:visited {
  color: #0B7C74;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.085rem;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/* ======== Buttons ======== */
button, input[type=submit], a.action {
  background-color: #0B7C74;
  color: #FBFCF5;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 500ms ease-in-out, color 500ms linear;
}
button:hover, input[type=submit]:hover, a.action:hover {
  background-color: #23CABE;
  color: #0B232E;
}
button a, input[type=submit] a, a.action a {
  color: #FBFCF5;
}
button a:hover, input[type=submit] a:hover, a.action a:hover {
  color: #0B232E;
}

/* ======== Forms ======== */
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form input[type=text], form input[type=email], form textarea {
  border: 1px solid #0B232E;
  background-color: #FBFCF5;
  color: #0B232E;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0.25rem;
}
form input[type=text], form input[type=email] {
  height: 2rem;
}
form textarea {
  min-height: 20vh;
}
form label {
  font-weight: 400;
}
form div#status-message {
  margin-top: 1rem;
  font-size: 0.85rem;
}

@media screen and (min-width: 1024px) {
  form {
    justify-content: center;
    margin: 0 30%;
  }
}
/* ======== Icons ======= */
.fab, .fas, .far {
  color: #FBFCF5;
}
.fab:hover, .fas:hover, .far:hover {
  color: #23CABE;
}

.fa-fw.me-2 {
  color: inherit;
}
.fa-fw.me-2:hover {
  color: inherit;
}
.fa-fw.me-2:active {
  color: inherit;
}

@media screen and (max-width: 1023px) {
  #portfolio-web article:nth-child(even) .fab, #portfolio-web article:nth-child(even) .fas, #portfolio-web article:nth-child(even) .far {
    color: #0B232E;
  }
  #portfolio-web article:nth-child(even) .fab:hover, #portfolio-web article:nth-child(even) .fas:hover, #portfolio-web article:nth-child(even) .far:hover {
    color: #0B7C74;
  }
}
.skill span {
  padding-left: 0.75rem;
}
.skill span:hover {
  color: #0B232E;
}
.skill:hover span {
  color: #0B232E;
}

/* ======== Global Formatting ======== */
body {
  padding: 0;
}

section {
  padding: 2rem 0;
}

@media screen and (min-width: 1024px) {
  main {
    margin: 1.5rem 2rem;
  }

  section {
    padding: 2rem 0;
  }
}
/* ======== Site Navigation ======== */
header {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
header nav ul {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
  }
  header nav {
    font-size: 1.125rem;
  }
  header nav ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
  }
  header nav ul li {
    font-family: "Arvo", serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #0B7C74;
  }
}
/* ======== About Section ======== */
#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #about {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .bio-photo {
    display: none;
  }
}
.bio-photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 999px;
  margin: 0 auto;
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .blurb h2 {
  color: #0B7C74;
}

@media screen and (min-width: 1024px) {
  #about .blurb {
    width: 50%;
  }
  #about .blurb h2 {
    align-self: flex-start;
    color: #0B232E;
  }
}
/* ======== Tabbed Navigation ======== */
.nav-tabs .nav-link {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.25rem !important;
  color: #0B232E;
  background-color: transparent !important;
  text-transform: none;
}
.nav-tabs .nav-link:hover {
  color: #0B7C74;
  background-color: transparent;
}

.nav-link.active, nav-link.active > span {
  color: #0B7C74 !important;
  border-color: #0B7C74 !important;
  background-color: transparent;
}

.nav-item {
  font-family: "Lato", Helvetica, sans-serif;
  color: #0B7C74;
}

#ex1-content {
  width: 100% !important;
}

.tab-content {
  width: 100% !important;
}

.tab-pane {
  width: 100% !important;
  font-family: "Lato", Helvetica, sans-serif;
}

/* ======== Portfolio Section ======== */
#portfolio {
  width: 100%;
}

#portfolio-web section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 5, 1fr;
}
#portfolio-web section article {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#portfolio-web section article p {
  font-weight: 400;
  margin: 1.5rem 0;
}
#portfolio-web section article ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
#portfolio-web section article ul.technologies {
  font-weight: 400;
  margin: 1rem 0;
  padding-inline: 0;
  justify-self: flex-end;
}
#portfolio-web section article ul.icons {
  margin: 1rem 0;
  padding-inline: 0;
}
#portfolio-web section article ul.icons span {
  font-size: 1.5rem;
}
#portfolio-web section article:nth-child(odd) {
  background-color: #0B7C74;
  color: #FBFCF5;
  animation: easeIn 2s;
  color: #FBFCF5;
}
#portfolio-web section article:nth-child(odd) a {
  color: #FBFCF5;
}
#portfolio-web section article:nth-child(odd) a:hover {
  color: #23CABE;
}
#portfolio-web section article:nth-child(odd) ul.icons {
  color: #FBFCF5;
}
#portfolio-web section article:nth-child(odd) ul.icons li:hover {
  color: #23CABE;
}
#portfolio-web section article:nth-child(even) {
  background-color: #F0CA68;
  color: #0B232E;
}
#portfolio-web section article:nth-child(even) a {
  color: #0B232E;
}
#portfolio-web section article:nth-child(even) a:hover {
  color: #0B7C74;
}
#portfolio-web section article:nth-child(even) ul.icons {
  color: #0B232E;
}
#portfolio-web section article:nth-child(even) ul.icons li:hover {
  color: #0B7C74;
}

#portfolio-email section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
#portfolio-email section article {
  width: 100%;
  position: relative;
  padding: 0 0;
}
#portfolio-email section article img {
  display: block;
  height: auto;
  width: 100%;
  align-self: stretch;
}
#portfolio-email section article div {
  display: grid;
  background-color: #0B232E;
  color: #FBFCF5;
  padding: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  position: absolute;
  top: 0px;
  align-content: center;
}
#portfolio-email section article div p {
  font-weight: 400;
  margin: 1.5rem 0;
}
#portfolio-email section article div ul {
  list-style-type: none;
  display: flex;
  justify-items: flex-start;
  gap: 1rem;
}
#portfolio-email section article div ul.technologies {
  font-weight: 400;
  margin: 1rem 0;
  padding-inline: 0;
}
#portfolio-email section article div ul.icons {
  margin: 1rem 0;
  padding-inline: 0;
}
#portfolio-email section article div ul.icons span {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  #portfolio-email section {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #portfolio-web section {
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }
  #portfolio-web section article {
    width: 50%;
  }
  #portfolio-web section article div {
    background-color: #0B232E;
    color: #FBFCF5;
    padding: 1rem;
    width: 100%;
    min-height: 75%;
    position: relative;
  }
  #portfolio-web section article:nth-child(even) {
    background-color: #0B7C74;
    justify-self: flex-end;
  }
  #portfolio-web section article:nth-child(even) div {
    right: 85%;
  }
  #portfolio-web section article:nth-child(even) a {
    color: #FBFCF5;
  }
  #portfolio-web section article:nth-child(even) a:hover {
    color: #23CABE;
  }
  #portfolio-web section article:nth-child(odd) {
    background-color: #23CABE;
    color: #FBFCF5;
    justify-self: flex-start;
  }
  #portfolio-web section article:nth-child(odd) div {
    left: 85%;
  }
  #portfolio-web section article:nth-child(odd) a {
    color: #FBFCF5;
  }
  #portfolio-web section article:nth-child(odd) a:hover {
    color: #23CABE;
  }

  #portfolio-email section {
    grid-template-columns: repeat(3, 1fr);
  }
  #portfolio-email section article div {
    background-color: #0B232E;
    color: #FBFCF5;
    padding: 1rem;
    opacity: 0;
  }
  #portfolio-email section article div:hover {
    opacity: 0.95;
  }
}
@media screen and (min-width: 1440px) {
  #portfolio-web section article div {
    width: 70%;
    min-height: 80%;
  }
  #portfolio-web section article:nth-child(even) div {
    right: 45%;
  }
  #portfolio-web section article:nth-child(odd) div {
    left: 85%;
  }

  #portfolio-email section {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ======== Background images for porfolio items ======== */
#ecommstore {
  background: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/ecommStore-Desktop.png");
  background-size: cover;
  background-position: center;
}

#stepup {
  background-image: linear-gradient(rgba(240, 202, 104, 0.9), rgba(240, 202, 104, 0.9)), url("../images/StepUp-Desktop.png");
  background-size: cover;
  background-position: center;
}

#spacestagram {
  background: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/SpacestagramMobile.jpg");
  background-size: cover;
  background-position: center;
}

#songcrush {
  background-image: linear-gradient(rgba(240, 202, 104, 0.9), rgba(240, 202, 104, 0.9)), url("../images/SongCrushMobile.jpg");
  background-size: cover;
  background-position: center;
}

#prssa {
  background-image: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/PRSSA-Mobile.jpg");
  background-size: cover;
  background-position: top;
}

@media screen and (min-width: 1024px) {
  #ecommstore {
    background-image: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/ecommStore-Desktop.png");
    background-position: center;
    transition: background-image 7s ease-in;
  }
  #ecommstore:hover {
    background-image: linear-gradient(rgba(11, 124, 116, 0.1), rgba(11, 124, 116, 0.1)), url("../images/ecommStore-Desktop.png");
    background-position: center;
  }

  #stepup {
    background-image: linear-gradient(rgba(35, 202, 190, 0.8), rgba(35, 202, 190, 0.8)), url("../images/StepUp-Desktop.png");
    background-size: cover;
    transition: background-image 2s ease-in;
  }
  #stepup:hover {
    background-image: linear-gradient(rgba(35, 202, 190, 0.1), rgba(35, 202, 190, 0.1)), url("../images/StepUp-Desktop.png");
    background-size: cover;
  }

  #spacestagram {
    background-image: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/SpacestagramDesktopDM.png");
    background-position: center;
    transition: background-image 7s ease-in;
  }
  #spacestagram:hover {
    background-image: linear-gradient(rgba(11, 124, 116, 0.1), rgba(11, 124, 116, 0.1)), url("../images/SpacestagramDesktopDM.png");
    background-position: center;
  }

  #songcrush {
    background-image: linear-gradient(rgba(35, 202, 190, 0.8), rgba(35, 202, 190, 0.8)), url("../images/SongCrushDesktop.png");
    background-size: cover;
    transition: background-image 2s ease-in;
  }
  #songcrush:hover {
    background-image: linear-gradient(rgba(35, 202, 190, 0.1), rgba(35, 202, 190, 0.1)), url("../images/SongCrushDesktop.png");
    background-size: cover;
  }

  #prssa {
    background-image: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../images/PRSSA-Desktop.png");
    background-size: cover;
    transition: background-image 7s ease-in;
  }
  #prssa:hover {
    background-image: linear-gradient(rgba(11, 124, 116, 0.1), rgba(11, 124, 116, 0.1)), url("../images/PRSSA-Desktop.png");
    background-size: cover;
  }
}
/* ======== Contact Section ======== */
#contact {
  padding: 2rem;
}

/* ======== Resume Page ======== */
body.resume header {
  display: block;
  text-align: center;
  background-color: #0B7C74;
  color: #FBFCF5;
  margin: 0;
}
body.resume header a {
  color: #FBFCF5;
}
body.resume header a:visited {
  color: #FBFCF5;
}
body.resume section {
  margin: 5vh 5vw;
  padding: 0;
}
body.resume section article {
  padding: 0;
}
body.resume h2, body.resume h3 {
  text-align: left;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.resume h1 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-transform: none;
  margin-bottom: 1.25rem;
}
body.resume h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}
body.resume h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body.resume i {
  font-size: 1.5rem;
  margin: 2%;
}
body.resume i:hover {
  color: #23CABE;
}
body.resume hr {
  width: 5vw;
  margin: 0 0 2vh 0;
  border: solid 1px #0B7C74;
}
body.resume address {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: 48px;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
}
body.resume footer a {
  color: #FBFCF5;
  text-decoration: none;
}
body.resume footer a:hover {
  color: #23CABE;
}
body.resume footer a:active {
  color: #F0CA68;
}
body.resume footer span {
  padding-right: 1rem;
}

#contact-detail {
  color: #F0CA68;
  font-weight: 400;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills li {
  background-color: #0B7C74;
  color: #FBFCF5;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: default;
}
.skills li:hover {
  background-color: #23CABE;
  color: #0B232E;
  transition-duration: 150ms;
}
.skills li span {
  font-size: 1rem;
}

#experience p {
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1rem;
}
#experience ul {
  list-style: disc;
  padding-left: 2rem;
}
#experience ul li {
  padding-bottom: 0.5rem;
}
#experience ul li a {
  color: #0B7C74;
  font-weight: 400;
}
#experience ul li a:hover {
  color: #23CABE;
}
#experience ul li a:active {
  color: #F0CA68;
}

.school {
  font-style: italic;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  #education {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header header header header" "divider divider divider divider" "item item item item";
  }
  #education h2 {
    grid-area: header;
  }
  #education hr {
    grid-area: divider;
  }
}
/* ======== Footer ======== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0B232E;
  color: #FBFCF5;
  padding: 1.5rem;
}
footer ul {
  list-style-type: none;
  display: inline-flex;
  gap: 2rem;
}
footer ul span {
  font-size: 1.25rem;
}
footer p {
  font-size: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
