// Typography
html {
  font-size: 16px;
  font-family: $body;
  color: $navy;
  font-weight: 300;
  background-color: $offWhite;
}

h1 {
  font-size: 2rem;
  font-family: $headings;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  font-family: $headings;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-family: $body;
  font-weight: 500;
}

li {
  font-family: $headings;
  color: $darkTeal;
  text-transform: uppercase;
}