body {
  padding: 1.5rem;
}

main {
  margin: 1.5rem 2rem;
}

section {
  padding: 2rem 0;
}

/* ======== Site Navigation ======== */ 

// Mobile
// TODO: Add hamburger menu with script and animation
header {
  display: flex;
  justify-content: center;
  nav {
    ul {
      display: none;
    }
  }
}

// Desktop

@media screen and (min-width: $laptop) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    nav {
      font-size: 1.125rem;
      ul {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        gap: 1.5rem;
        text-transform: uppercase;
        li {
            font-family: $headings;
          a {
            text-decoration: none;
            color: $darkTeal;
          }
        }
        button {
          background-color: $darkTeal;
          color: $offWhite;
          font-family: $body;
          font-size: 1.125rem;
          padding: 0.75rem 1rem;
          border-radius: 100px;
          cursor: pointer;
          &:hover {
            background-color: $lightTeal;
            color: $navy;
          }
          a {
            color: $offWhite;
            &:hover {
              color: $navy;
            }
          }
        }
      }
    }
  }
}

/* ======== About Section ======== */

#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $laptop) {
  #about {
  flex-direction: row;
  }
}

.bio-photo {
  //width: 40%;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 999px;
    margin: 0 auto;
  }
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======== Portfolio Section ======== */

#portfolio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4(1fr);
  article {
    background-color: $darkTeal;
    ul.technologies {
      list-style-type: none;
      li {

      }
    }
    ul.icons {
      li:hover {
        color: $lightTeal;
      }
    }
  }
  }

/* ======== Contact Section ======== */