/* ========= Variables ========== */
html {
  font-size: 16px;
  font-family: "Lato", Helvetica, sans-serif;
  color: #0B232E;
  font-weight: 300;
  background-color: #FBFCF5;
}

h1 {
  font-size: 1.75rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

article {
  line-height: 1.25rem;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.085rem;
  }
}
/* ======== Global Formatting ======== */
body {
  padding: 1.5rem 0;
}

section {
  padding: 2rem 0;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 1.5rem;
  }

  main {
    margin: 1.5rem 2rem;
  }

  section {
    padding: 2rem 0;
  }
}
/* ======== Site Navigation ======== */
header {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
  }
  header nav {
    font-size: 1.125rem;
  }
  header nav ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
  }
  header nav ul li {
    font-family: "Arvo", serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #0B7C74;
  }
  header nav ul button {
    background-color: #0B7C74;
    color: #FBFCF5;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    cursor: pointer;
  }
  header nav ul button:hover {
    background-color: #23CABE;
    color: #0B232E;
  }
  header nav ul button a {
    color: #FBFCF5;
  }
  header nav ul button a:hover {
    color: #0B232E;
  }
}
/* ======== About Section ======== */
#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #about {
    flex-direction: row;
  }
}
.bio-photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 999px;
  margin: 0 auto;
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======== Portfolio Section ======== */
#portfolio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4 1fr;
}
#portfolio article {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#portfolio article p {
  font-weight: 500;
  margin: 1.5rem 0;
}
#portfolio article ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
#portfolio article ul.technologies {
  font-weight: 400;
  justify-self: flex-end;
}
#portfolio article ul.icons li:hover {
  color: #23CABE;
}
#portfolio article ul.icons span {
  font-size: 1.5rem;
}
#portfolio article:nth-child(even) {
  background-color: #0B7C74;
  color: #FBFCF5;
}
#portfolio article:nth-child(odd) {
  background-color: #F0CA68;
}
#portfolio article:nth-child(odd) ul.icons li:hover {
  color: #0B7C74;
}

@media screen and (min-width: 1024px) {
  #portfolio {
    grid-template-columns: 2 1fr;
    grid-row-gap: 5rem;
  }
  #portfolio article {
    width: 50%;
  }
  #portfolio article div {
    background-color: #0B232E;
    padding: 1rem;
    width: 100%;
    height: 75%;
    position: relative;
  }
  #portfolio article:nth-child(even) {
    background-color: #0B7C74;
    justify-self: flex-end;
  }
  #portfolio article:nth-child(even) div {
    right: 85%;
  }
  #portfolio article:nth-child(odd) {
    background-color: #23CABE;
    color: #FBFCF5;
    justify-self: flex-start;
  }
  #portfolio article:nth-child(odd) div {
    left: 85%;
  }
}
@media screen and (min-width: 1440px) {
  #portfolio article div {
    width: 60%;
    height: 80%;
  }
  #portfolio article:nth-child(even) div {
    right: 45%;
  }
  #portfolio article:nth-child(odd) div {
    left: 85%;
  }
}
/* ======== Background images for porfolio items ======== */
#spacestagram {
  background: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../../resources/images/SpacestagramMobile.jpg");
  background-size: cover;
  background-position: center;
}

#songcrush {
  background-image: linear-gradient(rgba(240, 202, 104, 0.9), rgba(240, 202, 104, 0.9)), url("../../resources/images/SongCrushMobile.jpg");
  background-size: cover;
  background-position: center;
}

#prssa {
  background-image: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../../resources/images/PRSSA-Mobile.jpg");
  background-size: cover;
  background-position: top;
}

@media screen and (min-width: 1024px) {
  #spacestagram {
    background: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../../resources/images/SpacestagramDesktopDM.png");
    background-position: center;
  }

  #songcrush {
    background: linear-gradient(rgba(35, 202, 190, 0.8), rgba(35, 202, 190, 0.8)), url("../../resources/images/SongCrushDesktop.png");
    background-size: cover;
  }

  #prssa {
    background: linear-gradient(rgba(11, 124, 116, 0.9), rgba(11, 124, 116, 0.9)), url("../../resources/images/PRSSA-Desktop.png");
    background-size: cover;
  }
}
/* ======== Contact Section ======== */

/*# sourceMappingURL=style.css.map */
